
@media screen and (max-width: 600px) {
  
    body {
        font-size: 16px;
      }
      
    .container {
    flex-direction: row;
      width: 90%; 
      border-radius: 2rem;
      margin-top: 3.5rem;
     text-align: center;
     margin-bottom: 1rem;
    }
    .container h1{
        padding-left:  1rem;
        padding-right: 1rem;
    }
    .plan_content{
        flex-direction: row;
      
    }

    .plan_content p{
           flex-direction: column;
            padding-top: 1rem;
            color: var(--Darkblue);
            text-align: left;
            font-size: 13px;
  }
  .plan a{
    float: right;
  }

  .btn:hover {
    box-shadow: 0 14px 18px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .btn p{
    font-size: 16px;
    display: flex;
  }
} 
   
